.container {
  display: none;
}

@media screen and (min-width: 1280px) {
  .container {
    display: block;
    position: relative;
    margin: 0 auto;
    min-height: -webkit-fill-available;
    max-width: var(--maxWidth);
    height: 89vh;

    .inner {
      display: flex;
      justify-content: flex-start;
      padding: 0 5rem;
      width: 100%;

      .downIndicator {
        position: absolute;
        bottom: 7vh;
        left: 50%;
        transform: translateX(-50%);
        background-color: unset;
        border: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        animation: appear 1s ease-out forwards;

        .mouse {
          z-index: 1;
          width: 1.5rem;
          height: 3rem;
          border: 2px solid var(--mainRed);
          border-radius: 0.5rem;

          span {
            z-index: 1;
            width: 0.2rem;
            height: 0.5rem;
            border-radius: 20%;
            background-color: var(--mainRed);
            display: block;
            margin: auto;
            margin-top: 1rem;
            animation: move-wheel 1.5s linear infinite;
          }
        }
      }

      @keyframes move-wheel {
        0% {
          opacity: 0;
          transform: translateY(-1rem);
        }
        100% {
          opacity: 1;
          transform: translateY(1rem);
        }
      }

      @keyframes appear {
        from {
          opacity: 0;
          transform: translateY(1rem);
        }

        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
