.container {
  display: none;
}

@media screen and (min-width: 1280px) {
  .container {
    display: block;
    position: relative;
    margin: 0 auto;
    min-height: -webkit-fill-available;
    max-width: var(--maxWidth);
    height: 89vh;
  }
  .container .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 5rem;
    width: 100%;
  }
  .container .inner .downIndicator {
    position: absolute;
    bottom: 7vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: unset;
    border: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-animation: appear 1s ease-out forwards;
            animation: appear 1s ease-out forwards;
  }
  .container .inner .downIndicator .mouse {
    z-index: 1;
    width: 1.5rem;
    height: 3rem;
    border: 2px solid var(--mainRed);
    border-radius: 0.5rem;
  }
  .container .inner .downIndicator .mouse span {
    z-index: 1;
    width: 0.2rem;
    height: 0.5rem;
    border-radius: 20%;
    background-color: var(--mainRed);
    display: block;
    margin: auto;
    margin-top: 1rem;
    -webkit-animation: move-wheel 1.5s linear infinite;
            animation: move-wheel 1.5s linear infinite;
  }
  @-webkit-keyframes move-wheel {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-1rem);
              transform: translateY(-1rem);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(1rem);
              transform: translateY(1rem);
    }
  }
  @keyframes move-wheel {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-1rem);
              transform: translateY(-1rem);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(1rem);
              transform: translateY(1rem);
    }
  }
  @-webkit-keyframes appear {
    from {
      opacity: 0;
      -webkit-transform: translateY(1rem);
              transform: translateY(1rem);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes appear {
    from {
      opacity: 0;
      -webkit-transform: translateY(1rem);
              transform: translateY(1rem);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}
/*# sourceMappingURL=desktopLanding.module.css.map */