@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap);
:root {
  --maxWidth: 1680px;
  --mainGray: #444444;
  --mainRed: #c11f27;
  --defaultTrans: all 0.3s linear;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.08rem;
}

html {
  scroll-behavior: smooth;
}

.nav-mobile-toggled {
  overflow: hidden;
}

.layout {
  max-width: 100vw;
  overflow: hidden;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  background: #444444;
}

.content {
  display: block;
  z-index: 5;
}

.dropdown-menu.clicked {
  display: none;
}

@media screen and (min-width: 1280px) {
  .content {
    padding-top: 100px;
  }
}
/*# sourceMappingURL=layout.css.map */