.container {
  display: block;
  margin: 10rem auto 0 auto;
  padding: 0 1rem;
  width: 100%;
  height: 300px;
  max-width: var(--maxWidth);

  .mapContainer {
    position: relative;
    width: 100%;
    height: 100%;

    .redBack {
      position: absolute;
      top: 120px;
      left: -50%;
      width: 200%;
      height: 620px;
      background-color: var(--mainRed);
    }

    .text {
      position: absolute;
      z-index: 10;
      top: 5rem;
      left: 5rem;

      h1 {
        color: #000000;
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 2.5rem;
      }

      h2 {
        color: #000000;
        padding: 0;
        font-weight: 300;
        font-size: 1.3em;
      }

      h3 {
        margin: 0.5rem 0 0 0;
        color: #000000;
        font-weight: 300;
        font-size: 1.3em;
      }

      .phone {
        margin: 0.5rem 0 0 0;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 3rem;

    height: 500px;
  }
}
