.alignBlock {
  margin: 0 auto;
  max-width: 1400px;

  .features {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0 10rem 0;

    .splitLine {
      width: 1px;
      background-color: white;
      z-index: 0;
    }

    .feature {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      animation: appear 1s ease-out forwards;

      h2 {
        margin-top: 1.5rem;
        color: white;
        z-index: 1;
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
