.alignBlock {
  margin: 0 auto;
  max-width: 1400px;
}

.alignBlock .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem 0 10rem 0;
}

.alignBlock .features .splitLine {
  width: 1px;
  background-color: white;
  z-index: 0;
}

.alignBlock .features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: appear 1s ease-out forwards;
          animation: appear 1s ease-out forwards;
}

.alignBlock .features .feature h2 {
  margin-top: 1.5rem;
  color: white;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 600;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=Cards.module.css.map */