.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  position: relative;

  .darkBox {
    position: absolute;
    width: 200%;
    background-color: var(--mainGray);
    top: 20%;
    left: -50%;
    height: 570px;
    z-index: 0;
  }
}

.wrapper:last-child {
  margin-top: 21rem;
}
