.inner {
  display: flex;
  justify-content: flex-start;
  margin-top: 5rem;
  position: relative;

  .imageContainer {
    z-index: 1;
    .image {
      border-radius: 2rem;
    }
  }

  .textContainer {
    position: absolute;
    top: 18%;
    right: -20%;
    background-color: var(--mainGray);
    padding: 3rem 0;
    z-index: 2;
    width: 70%;
    border-radius: 2rem;

    .text {
      display: flex;
      flex-direction: column;
      margin-left: 26.5%;

      h1 {
        color: white;
        font-size: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
        z-index: 1;
      }

      .titleLine {
        height: 30px;
        z-index: 0;
        width: 338px;
        top: 25%;
        left: 5rem;
      }

      h2 {
        color: rgba(255, 255, 255, 0.596);
        font-size: 1.3rem;
        line-height: 35px;
        font-weight: lighter;
        margin: 0.3rem 0;
        letter-spacing: 0.03rem;
        max-width: 500px;
      }

      button {
        margin-top: 1rem;
        padding: 0.5em 1em;
        font-size: 1rem;
        color: white;
        background-color: unset;
        border: solid 2px var(--mainRed);
        border-radius: 0.5rem;
        cursor: pointer;
        font: inherit;
        transition: var(--defaultTrans);

        &:hover {
          background-color: var(--mainRed);
          transition: var(--defaultTrans);
        }
      }
    }
  }
}
