.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.inner .imageContainer {
  z-index: 1;
}

.inner .imageContainer .image {
  border-radius: 2rem;
}

.inner .textContainer {
  position: absolute;
  top: 18%;
  left: -20%;
  background-color: var(--mainGray);
  padding: 3rem 0;
  z-index: 2;
  width: 70%;
  border-radius: 2rem;
}

.inner .textContainer .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 45%;
}

.inner .textContainer .text h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 1;
}

.inner .textContainer .text .titleLine {
  height: 30px;
  z-index: 0;
  width: 338px;
  top: 25%;
  left: 24.5%;
}

.inner .textContainer .text h2 {
  color: rgba(255, 255, 255, 0.596);
  font-size: 1.3rem;
  line-height: 35px;
  font-weight: lighter;
  margin: 0.3rem 0;
  letter-spacing: 0.03rem;
  max-width: 500px;
}

.inner .textContainer .text button {
  margin-top: 1rem;
  padding: 0.5em 1em;
  font-size: 1rem;
  color: white;
  background-color: unset;
  border: solid 2px var(--mainRed);
  border-radius: 0.5rem;
  cursor: pointer;
  font: inherit;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
}

.inner .textContainer .text button:hover {
  background-color: var(--mainRed);
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
}
/*# sourceMappingURL=categoryLeft.module.css.map */