.container {
  display: none;
}

@media screen and (min-width: 1280px) {
  .container {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: var(--maxWidth);

    .line {
      position: absolute;
      width: 250px;
      height: 200%;
      top: -1200px;
      right: 800px;
      transform: rotate(27deg);
      display: flex;

      .redLine {
        background-color: var(--mainRed);
        height: 100%;
        width: 50%;
      }

      .halfRedLine {
        background-color: rgba(#c11f27, 0.75);
        height: 100%;
        width: 50%;
      }
    }
  }
}
