.container {
  display: none;
}

@media screen and (min-width: 1280px) {
  .container {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: var(--maxWidth);
  }
  .container .line {
    position: absolute;
    width: 250px;
    height: 200%;
    top: -1200px;
    right: 800px;
    -webkit-transform: rotate(27deg);
            transform: rotate(27deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .line .redLine {
    background-color: var(--mainRed);
    height: 100%;
    width: 50%;
  }
  .container .line .halfRedLine {
    background-color: rgba(193, 31, 39, 0.75);
    height: 100%;
    width: 50%;
  }
}
/*# sourceMappingURL=desktopCat.module.css.map */