.container {
  position: absolute;
  height: 130vh;
  top: -100px;
  right: 0;
  width: 60rem;
}

.container .menuSlide {
  z-index: 5;
}

.container .smoke {
  position: absolute;
  top: 260px;
  right: 50px;
  -webkit-transform: rotate(-160deg);
          transform: rotate(-160deg);
  z-index: 0;
}

.container .dotsAction {
  position: absolute;
  top: -501px;
  right: 14.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .dotsAction .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .dotsAction .dots::before {
  content: "";
  opacity: unset;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
  border-radius: 50%;
  height: 6px;
  width: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .dotsAction .active::before {
  opacity: unset;
  border: 4px solid var(--mainRed);
  content: "";
  border-radius: 50%;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
}

.container .dotsAction .noid {
  display: none;
}

.container .dotsAction .ident {
  position: absolute;
  margin-top: 0;
  margin-left: -1.5rem;
  color: var(--mainRed);
  font-size: 1rem;
}

.container .menu {
  margin-top: 10rem;
  position: relative;
  z-index: 5;
}

.container .menu .image {
  -webkit-transform: rotate(10deg) scale(1);
          transform: rotate(10deg) scale(1);
  z-index: 5;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
  overflow: unset;
  margin-bottom: 3.2rem;
  margin-left: 3.5rem;
  cursor: pointer;
}

.container .menu .image:hover {
  -webkit-transform: rotate(10deg) scale(1.02);
          transform: rotate(10deg) scale(1.02);
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
}

.container .menu .info {
  position: absolute;
  top: 0;
  right: 9.5rem;
  z-index: 5;
}

.container .menu .info .title {
  color: white;
  font-size: Min(1.2vw, 1rem);
  position: absolute;
  left: 35px;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
}

.container .menu .info .circle {
  height: 100px;
  width: 100px;
  border: 7px solid var(--mainRed);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.1rem;
}

.container .menu .info .circle h2 {
  margin: auto auto;
  color: white;
}
/*# sourceMappingURL=desktopMenu.module.css.map */