.container {
  position: absolute;
  height: 130vh;
  top: -100px;
  right: 0;
  width: 60rem;

  .menuSlide {
    z-index: 5;
  }

  .smoke {
    position: absolute;
    top: 260px;
    right: 50px;
    transform: rotate(-160deg);
    z-index: 0;
  }

  .dotsAction {
    position: absolute;
    top: -501px;
    right: 14.5rem;
    display: flex;
    flex-direction: column;

    .dots {
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        opacity: unset;
        background-color: rgba(255, 255, 255, 0.75);
        transition: var(--defaultTrans);
        border-radius: 50%;
        height: 6px;
        width: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .active {
      &::before {
        opacity: unset;
        border: 4px solid var(--mainRed);
        content: "";
        border-radius: 50%;
        transition: var(--defaultTrans);
      }
    }

    .noid {
      display: none;
    }

    .ident {
      position: absolute;
      margin-top: 0;
      margin-left: -1.5rem;
      color: var(--mainRed);
      font-size: 1rem;
    }
  }

  .menu {
    margin-top: 10rem;
    position: relative;
    z-index: 5;

    .image {
      transform: rotate(10deg) scale(1);
      z-index: 5;
      transition: var(--defaultTrans);
      overflow: unset;
      margin-bottom: 3.2rem;
      margin-left: 3.5rem;
      cursor: pointer;

      &:hover {
        transform: rotate(10deg) scale(1.02);
        transition: var(--defaultTrans);
      }
    }

    .info {
      position: absolute;
      top: 0;
      right: 9.5rem;
      z-index: 5;

      .title {
        color: white;
        font-size: Min(1.2vw, 1rem);
        position: absolute;
        left: 35px;
        text-transform: uppercase;
        letter-spacing: 0.08rem;
      }

      .circle {
        height: 100px;
        width: 100px;
        border: 7px solid var(--mainRed);
        border-radius: 50%;
        display: flex;
        margin-top: 3.1rem;

        h2 {
          margin: auto auto;
          color: white;
        }
      }
    }
  }
}
