.container {
  position: relative;
  min-height: 250px;
  background-color: rgb(101, 101, 101);
  margin: 5em 1em;

  .imageContainer {
    position: absolute;
    top: -50px;
    left: 0.3em;
  }

  .textContainer {
    margin-left: 11em;
    position: absolute;
    bottom: 2.5em;
    .title {
      width: 81%;
      display: block;
      margin-top: 0.5em;
      color: white;

      h2 {
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .info {
      margin-top: 0.5em;
      p {
        font-size: 0.9em;
        color: rgb(226, 225, 225);
      }
    }
    button {
      font: inherit;
      margin-top: 1.1em;
      border-radius: 2em;
      padding: 0.6em 0.9em;
      background-color: unset;
      color: white;
      text-transform: uppercase;
      transition: var(--defaultTrans);
      border: 2px solid var(--mainRed);
      letter-spacing: 0.09em;
      font-size: 0.8em;
      outline: none;

      &:hover {
        background-color: #444444;
        transition: var(--defaultTrans);
        color: white;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 801px) {
  .container {
    min-height: 350px;
    margin: 0;

    .imageContainer {
      top: 0;
      right: 1em;
      left: unset;
      width: 300px;
    }

    .textContainer {
      top: 45%;
      left: 35%;
      transform: translate(-50%, -50%);
      max-width: 400px;
      margin: 0;
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    display: none;
  }
}
