.container {
  position: relative;
  min-height: 250px;
  background-color: #656565;
  margin: 5em 1em;
}

.container .imageContainer {
  position: absolute;
  top: -50px;
  left: 0.3em;
}

.container .textContainer {
  margin-left: 11em;
  position: absolute;
  bottom: 2.5em;
}

.container .textContainer .title {
  width: 81%;
  display: block;
  margin-top: 0.5em;
  color: white;
}

.container .textContainer .title h2 {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.container .textContainer .info {
  margin-top: 0.5em;
}

.container .textContainer .info p {
  font-size: 0.9em;
  color: #e2e1e1;
}

.container .textContainer button {
  font: inherit;
  margin-top: 1.1em;
  border-radius: 2em;
  padding: 0.6em 0.9em;
  background-color: unset;
  color: white;
  text-transform: uppercase;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
  border: 2px solid var(--mainRed);
  letter-spacing: 0.09em;
  font-size: 0.8em;
  outline: none;
}

.container .textContainer button:hover {
  background-color: #444444;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 801px) {
  .container {
    min-height: 350px;
    margin: 0;
  }
  .container .imageContainer {
    top: 0;
    right: 1em;
    left: unset;
    width: 300px;
  }
  .container .textContainer {
    top: 45%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 400px;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    display: none;
  }
}
/*# sourceMappingURL=Discount.module.css.map */