.item {
  margin: 0.5em 0 0 1em;
  font-size: 1.3em;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  margin-left: 1em;

  .line {
    width: 1px;
    background-color: white;
  }

  .button {
    border: unset;
    padding: 0.5em;
    color: white;
    background-color: unset;
    font-size: 0.9em;
    cursor: pointer;
  }
}

@media screen and (min-width: 1280px) {
  .item {
    display: none;
  }
}
