.menu {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background-color: rgba(68, 68, 68, 0.95);
  -webkit-clip-path: inset(0 0 100% 0);
          clip-path: inset(0 0 100% 0);
  -webkit-transition: all 0.25s ease-out, height 0ms 250ms, opacity 0ms 250ms;
  transition: all 0.25s ease-out, height 0ms 250ms, opacity 0ms 250ms;
  overflow: hidden;
  height: 0;
  opacity: 0;
  bottom: -43px;
}

.menu .item {
  margin: 0.5em 0 0 1em;
  font-size: 1.3em;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
}

.menu .item a {
  padding: 0.5em 0 0.5em 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}

.menu .item a:hover {
  color: #c11f27;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
}

.menu .item .active {
  color: #c11f27;
}

.menu .item .language-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 1em;
}

.menu .item .language-container .white-line {
  width: 1px;
  background-color: white;
}

.menu .item .language-container .language-button {
  border: unset;
  padding: 0.5em;
  color: white;
  background-color: unset;
  font-size: 0.9em;
  cursor: pointer;
}

.toggled {
  overflow: hidden;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  -webkit-transition: all 0.25s ease-out, height 0ms 0ms, opacity 0ms 0ms;
  transition: all 0.25s ease-out, height 0ms 0ms, opacity 0ms 0ms;
  pointer-events: all;
  height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 1280px) {
  .menu {
    position: unset;
    top: unset;
    left: unset;
    background-color: unset;
    width: auto;
    -webkit-clip-path: unset;
            clip-path: unset;
    -webkit-transition: unset;
    transition: unset;
    opacity: unset;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu .item {
    margin-top: 0;
    margin-left: 3.5vw;
    font-size: Min(1.3vw, 1rem);
    display: inline-block;
  }
  .menu .item a {
    display: inline-block;
    position: relative;
  }
  .menu .item a::after {
    content: "";
    width: 0px;
    height: 2px;
    left: 10px;
    background: var(--mainRed);
    -webkit-transition: 300ms;
    transition: 300ms;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    bottom: -15px;
  }
  .menu .item a:hover::after {
    width: 70%;
  }
  .menu .item .active::after {
    width: 70%;
  }
  .menu .item:first-child {
    margin-left: 0;
  }
}
/*# sourceMappingURL=navitems.module.css.map */