.menu {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background-color: rgba(68, 68, 68, 0.95);
  clip-path: inset(0 0 100% 0);
  transition: all 0.25s ease-out, height 0ms 250ms, opacity 0ms 250ms;
  overflow: hidden;
  height: 0;
  opacity: 0;
  bottom: -43px;

  .item {
    margin: 0.5em 0 0 1em;
    font-size: 1.3em;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: var(--defaultTrans);

    a {
      padding: 0.5em 0 0.5em 0;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: white;

      &:hover {
        color: #c11f27;
        transition: var(--defaultTrans);
      }
    }

    .active {
      color: #c11f27;
    }

    .language-container {
      display: flex;
      flex-direction: row;
      margin-left: 1em;

      .white-line {
        width: 1px;
        background-color: white;
      }

      .language-button {
        border: unset;
        padding: 0.5em;
        color: white;
        background-color: unset;
        font-size: 0.9em;
        cursor: pointer;
      }
    }
  }
}

.toggled {
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  transition: all 0.25s ease-out, height 0ms 0ms, opacity 0ms 0ms;
  pointer-events: all;
  height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 1280px) {
  .menu {
    position: unset;
    top: unset;
    left: unset;
    background-color: unset;
    width: auto;
    clip-path: unset;
    transition: unset;
    opacity: unset;
    height: 100%;
    display: flex;
    align-items: center;

    .item {
      margin-top: 0;
      margin-left: 3.5vw;
      font-size: Min(1.3vw, 1rem);
      display: inline-block;

      a {
        display: inline-block;
        position: relative;
      }

      a::after {
        content: "";
        width: 0px;
        height: 2px;
        left: 10px;
        background: var(--mainRed);
        transition: 300ms;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        bottom: -15px;
      }

      a:hover::after {
        width: 70%;
      }

      .active::after {
        width: 70%;
      }
    }

    .item:first-child {
      margin-left: 0;
    }
  }
}
