.simplePictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 1em 0em 1em;
  position: relative;
}

.simplePictures .redLine {
  position: absolute;
  background-color: var(--mainRed);
  -webkit-clip-path: polygon(80% 0, 100% 0, 0 100%, 0 80%);
          clip-path: polygon(80% 0, 100% 0, 0 100%, 0 80%);
  top: -1.05em;
  height: 130%;
  width: 141%;
  right: -5em;
  z-index: 0;
}

.simplePictures .redLineHalf {
  position: absolute;
  background-color: rgba(199, 52, 59, 0.8);
  -webkit-clip-path: polygon(80% 0, 100% 0, 0 100%, 0 80%);
          clip-path: polygon(80% 0, 100% 0, 0 100%, 0 80%);
  top: -1.05em;
  height: 130%;
  width: 141%;
  right: 1em;
  z-index: 0;
}

.simplePictures .rectPicture:hover .image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.simplePictures .rectPicture {
  height: 10em;
  overflow: hidden;
  position: relative;
  margin: 0.8em 0em;
  width: 100%;
}

.simplePictures .rectPicture .icon {
  position: absolute;
  top: 26%;
  right: 3%;
}

.simplePictures .rectPicture .image {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.simplePictures .rectPicture .detail {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgba(68, 68, 68, 0.3);
  color: white;
  font-size: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}

.simplePictures .rectPicture .textRight {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.simplePictures .rectPicture .textRight h3 {
  color: white;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.simplePictures .rectPicture .plus {
  position: absolute;
  bottom: 10%;
  right: 43%;
}

@media screen and (min-width: 801px) {
  .simplePictures {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    margin-top: 1em;
  }
  .simplePictures .rectPicture {
    width: 49%;
  }
}

@media screen and (min-width: 1280px) {
  .simplePictures {
    display: none;
  }
}
/*# sourceMappingURL=mobileCat.module.css.map */