.simplePictures {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 0em 1em;
  position: relative;

  .redLine {
    position: absolute;
    background-color: var(--mainRed);
    clip-path: polygon(80% 0, 100% 0, 0 100%, 0 80%);
    top: -1.05em;
    height: 130%;
    width: 141%;
    right: -5em;
    z-index: 0;
  }

  .redLineHalf {
    position: absolute;
    background-color: rgba(#c7343b, 0.8);
    clip-path: polygon(80% 0, 100% 0, 0 100%, 0 80%);
    top: -1.05em;
    height: 130%;
    width: 141%;
    right: 1em;
    z-index: 0;
  }

  .rectPicture:hover {
    .image {
      transform: scale(1.1);
    }
  }

  .rectPicture {
    height: 10em;
    overflow: hidden;
    position: relative;
    margin: 0.8em 0em;
    width: 100%;

    .icon {
      position: absolute;
      top: 26%;
      right: 3%;
    }

    .image {
      width: 100%;
      height: 100%;
      transform: scale(1);
      transition: all 0.3s;
    }

    .detail {
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      width: 100%;
      background-color: rgba(68, 68, 68, 0.3);
      color: white;
      font-size: 2em;
      align-items: center;
      display: flex;
      place-content: center;
    }

    .textRight {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      place-items: center;
      justify-content: space-between;

      h3 {
        color: white;
        margin: 0;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: 0.05em;
      }
    }

    .plus {
      position: absolute;
      bottom: 10%;
      right: 43%;
    }
  }
}

@media screen and (min-width: 801px) {
  .simplePictures {
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
    margin-top: 1em;

    .rectPicture {
      width: 49%;
    }
  }
}

@media screen and (min-width: 1280px) {
  .simplePictures {
    display: none;
  }
}
