.dotsAction {
  margin-top: -6.8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .dotsList {
    margin: 0 30px;
    .dots {
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        opacity: unset;
        background-color: rgba(255, 255, 255, 0.75);
        transition: var(--defaultTrans);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .active {
      &::before {
        opacity: unset;
        border: 4px solid var(--mainRed);
        content: "";
        border-radius: 50%;
        transition: var(--defaultTrans);
        height: 30px;
        width: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
