.dotsAction {
  margin-top: -6.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dotsAction .dotsList {
  margin: 0 30px;
}

.dotsAction .dotsList .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dotsAction .dotsList .dots::before {
  content: "";
  opacity: unset;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.dotsAction .dotsList .active::before {
  opacity: unset;
  border: 4px solid var(--mainRed);
  content: "";
  border-radius: 50%;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=carouselDots.module.css.map */