@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carouselComponent {
  display: none;
}

@media screen and (min-width: 1280px) {
  .carouselComponent {
    display: flex;
    flex-direction: column;
    place-items: center;
    position: relative;
  }

  .carouselLine {
    height: 50px;
    z-index: 0;
    width: 400px;
    top: 0;
    left: -11.7rem;
  }

  .carouselWrapper {
    max-width: var(--maxWidth);
    width: 90%;
    margin: 5rem auto 20vw auto;
    height: 300px;
    z-index: 5;
  }

  .carouselHeader {
    position: relative;
  }

  .carouselHeader h1 {
    position: relative;
    color: white;
    font-size: 2.5rem;
    z-index: 4;
  }

  .carouselTitle {
    display: none;
  }

  .carouselTitleActive {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 4.5rem;
  }

  button {
    background-color: red;
  }

  .slide img {
    width: 35rem;
    margin: 0 auto;
    border-radius: 1rem;
  }

  .slide {
    transform: scale(0.7);
    transition: transform 300ms;
    cursor: pointer;
    z-index: 5;
  }

  .activeSlide {
    transform: scale(1);
    opacity: 1;
  }
}
