.footerContent {
  width: 100%;
  background: rgb(55, 55, 55);
  background: -moz-linear-gradient(
    0deg,
    rgba(55, 55, 55, 1) 83%,
    rgba(68, 68, 68, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(55, 55, 55, 1) 83%,
    rgba(68, 68, 68, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(55, 55, 55, 1) 83%,
    rgba(68, 68, 68, 1) 100%
  );
  height: 748px;

  .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 1rem 1rem 1rem;

    .infoWrapper {
      .email {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        max-width: 500px;
        h3 {
          margin-bottom: 1rem;
          color: var(--mainRed);
          font-weight: 600;
          font-size: 1.5rem;
        }
        input {
          background-color: unset;
          border: unset;
          outline: unset;
          font-size: 1rem;
          color: white;
        }

        .button {
          display: block;
          margin: 2rem auto;
          padding: 0.5rem 1rem;
          font: inherit;
          background-color: var(--mainRed);
          border: unset;
          color: white;
          border-radius: 0.5rem;
          cursor: pointer;
          transition: var(--defaultTrans);

          &:hover {
            color: var(--mainRed);
            background-color: white;
            transition: var(--defaultTrans);
          }
        }
      }

      .section {
        margin-top: 2rem;
        h3 {
          color: var(--mainRed);
          font-weight: 600;
          font-size: 1.5rem;
        }

        ul {
          list-style: none;

          li {
            margin-top: 2rem;
            color: white;
            a {
              text-decoration: none;
              color: white;
              transition: var(--defaultTrans);
            }
            .active {
              color: red;
            }

            a:hover {
              color: var(--mainRed);
              transition: var(--defaultTrans);
            }
          }
        }
      }
    }

    .icons {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 1rem;

      .logo {
        width: 150px;
        height: 50px;
      }

      .icon {
        display: flex;
        width: 170px;
        justify-content: space-around;

        a {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            background-color: rgba(white, 0.07);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: var(--defaultTrans);
            top: -4px;
            left: -5.85px;
          }

          &:hover {
            &::before {
              background-color: rgba(white, 0.2);
              transition: var(--defaultTrans);
            }
          }
        }

        a:first-child {
          &::before {
            left: -6.5px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 550px) {
  .footerContent {
    height: 482px;
  }
  .sectionWrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .footerContent {
    height: unset;
    .inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: var(--maxWidth);
      padding: 5rem 3rem 5rem 3rem;
      margin: 0 auto;

      .icons {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: flex-start;
        max-width: 300px;

        .logo {
          position: relative;
          width: 200px;
          &::after {
            content: "";
            height: 2px;
            width: 200px;
            background-color: var(--mainRed);
            position: absolute;
            margin-top: 20px;
          }
        }

        .icon {
          display: flex;
          margin-left: -0.5rem;
          margin-top: 1.5rem;
        }

        .cert {
          margin-top: 1.2rem;
        }
      }

      .infoWrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .email {
          margin-top: 0;
          min-width: 400px;
        }
        .sectionWrapper {
          margin-right: 0;
          width: 100%;
          justify-content: space-around;
          .section {
            margin-top: 0;
          }
        }
      }
    }
  }
}
