.footerContent {
  width: 100%;
  background: #373737;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(83%, #373737), to(#444444));
  background: linear-gradient(0deg, #373737 83%, #444444 100%);
  height: 748px;
}

.footerContent .inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 1rem 1rem 1rem;
}

.footerContent .inner .infoWrapper .email {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
}

.footerContent .inner .infoWrapper .email h3 {
  margin-bottom: 1rem;
  color: var(--mainRed);
  font-weight: 600;
  font-size: 1.5rem;
}

.footerContent .inner .infoWrapper .email input {
  background-color: unset;
  border: unset;
  outline: unset;
  font-size: 1rem;
  color: white;
}

.footerContent .inner .infoWrapper .email .button {
  display: block;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  font: inherit;
  background-color: var(--mainRed);
  border: unset;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
}

.footerContent .inner .infoWrapper .email .button:hover {
  color: var(--mainRed);
  background-color: white;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
}

.footerContent .inner .infoWrapper .section {
  margin-top: 2rem;
}

.footerContent .inner .infoWrapper .section h3 {
  color: var(--mainRed);
  font-weight: 600;
  font-size: 1.5rem;
}

.footerContent .inner .infoWrapper .section ul {
  list-style: none;
}

.footerContent .inner .infoWrapper .section ul li {
  margin-top: 2rem;
  color: white;
}

.footerContent .inner .infoWrapper .section ul li a {
  text-decoration: none;
  color: white;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
}

.footerContent .inner .infoWrapper .section ul li .active {
  color: red;
}

.footerContent .inner .infoWrapper .section ul li a:hover {
  color: var(--mainRed);
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
}

.footerContent .inner .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem;
}

.footerContent .inner .icons .logo {
  width: 150px;
  height: 50px;
}

.footerContent .inner .icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footerContent .inner .icons .icon a {
  position: relative;
}

.footerContent .inner .icons .icon a::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.07);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
  top: -4px;
  left: -5.85px;
}

.footerContent .inner .icons .icon a:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
}

.footerContent .inner .icons .icon a:first-child::before {
  left: -6.5px;
}

@media screen and (min-width: 550px) {
  .footerContent {
    height: 482px;
  }
  .sectionWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .footerContent {
    height: unset;
  }
  .footerContent .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: var(--maxWidth);
    padding: 5rem 3rem 5rem 3rem;
    margin: 0 auto;
  }
  .footerContent .inner .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 300px;
  }
  .footerContent .inner .icons .logo {
    position: relative;
    width: 200px;
  }
  .footerContent .inner .icons .logo::after {
    content: "";
    height: 2px;
    width: 200px;
    background-color: var(--mainRed);
    position: absolute;
    margin-top: 20px;
  }
  .footerContent .inner .icons .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -0.5rem;
    margin-top: 1.5rem;
  }
  .footerContent .inner .icons .cert {
    margin-top: 1.2rem;
  }
  .footerContent .inner .infoWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .footerContent .inner .infoWrapper .email {
    margin-top: 0;
    min-width: 400px;
  }
  .footerContent .inner .infoWrapper .sectionWrapper {
    margin-right: 0;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footerContent .inner .infoWrapper .sectionWrapper .section {
    margin-top: 0;
  }
}
/*# sourceMappingURL=footerContent.module.css.map */