.container {
  margin: 7em 0 0 0;
  padding-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--mainRed);
  -webkit-box-shadow: 0 4px 10px -2px black;
          box-shadow: 0 4px 10px -2px black;
  position: relative;
  min-height: 450px;
}

.container .imageContainer {
  position: absolute;
  top: -5em;
  -webkit-box-shadow: 0px 2px 4px black;
          box-shadow: 0px 2px 4px black;
}

.container .textContainer {
  margin-left: 2.2em;
  position: absolute;
  bottom: 1.3em;
}

.container .textContainer .title {
  width: 81%;
  display: block;
  margin-top: 0.5em;
  color: white;
}

.container .textContainer .title h2 {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.container .textContainer .info {
  margin-top: 0.5em;
}

.container .textContainer .info p {
  font-size: 0.9em;
  color: #e2e1e1;
}

.container .textContainer .info button {
  font: inherit;
  margin-top: 1.1em;
  border-radius: 2em;
  padding: 0.6em 0.9em;
  background-color: var(--mainRed);
  color: white;
  text-transform: uppercase;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
  border: 2px solid #444444;
  letter-spacing: 0.09em;
  font-size: 0.8em;
  outline: none;
}

.container .textContainer .info button:hover {
  background-color: #444444;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 801px) {
  .container {
    padding: unset;
    min-height: 350px;
    margin-top: 1em;
  }
  .container .imageContainer {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    top: 0;
    left: 1em;
  }
  .container .textContainer {
    top: 45%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 500px;
  }
}

@media screen and (min-width: 801px) {
  .container {
    display: none;
  }
}
/*# sourceMappingURL=newProducts.module.css.map */