.container {
  margin: 7em 0 0 0;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--mainRed);
  box-shadow: 0 4px 10px -2px black;
  position: relative;
  min-height: 450px;

  .imageContainer {
    position: absolute;
    top: -5em;
    box-shadow: 0px 2px 4px black;
  }

  .textContainer {
    margin-left: 2.2em;
    position: absolute;
    bottom: 1.3em;
    .title {
      width: 81%;
      display: block;
      margin-top: 0.5em;
      color: white;

      h2 {
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .info {
      margin-top: 0.5em;

      p {
        font-size: 0.9em;
        color: rgb(226, 225, 225);
      }

      button {
        font: inherit;
        margin-top: 1.1em;
        border-radius: 2em;
        padding: 0.6em 0.9em;
        background-color: var(--mainRed);
        color: white;
        text-transform: uppercase;
        transition: var(--defaultTrans);
        border: 2px solid #444444;
        letter-spacing: 0.09em;
        font-size: 0.8em;
        outline: none;

        &:hover {
          background-color: #444444;
          transition: var(--defaultTrans);
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 801px) {
  .container {
    padding: unset;
    min-height: 350px;
    margin-top: 1em;
    .imageContainer {
      box-shadow: unset;
      top: 0;
      left: 1em;
    }

    .textContainer {
      top: 45%;
      left: 60%;
      transform: translate(-50%, -50%);
      max-width: 500px;
    }
  }
}

@media screen and (min-width: 801px) {
  .container {
    display: none;
  }
}
