.landingContainer {
  overflow: hidden;
}

.back {
  background: -webkit-gradient(linear, left top, right top, color-stop(3%, #444444), color-stop(30%, #323232), to(#2d2d2d));
  background: linear-gradient(90deg, #444444 3%, #323232 30%, #2d2d2d 100%);
  position: absolute;
  height: 140vh;
  top: -100px;
  right: 0;
  width: 50rem;
}
/*# sourceMappingURL=landing.module.css.map */