.landingContainer {
  overflow: hidden;
}

.back {
  background: linear-gradient(
    90deg,
    rgba(68, 68, 68, 1) 3%,
    rgba(50, 50, 50, 1) 30%,
    rgba(45, 45, 45, 1) 100%
  );
  position: absolute;
  height: 140vh;
  top: -100px;
  right: 0;
  width: 50rem;
}
