.headingHelper {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 2em;
  height: 50px;
  width: 250px;

  .splitLine {
    background-color: var(--mainRed);
    width: 1.3px;
  }

  .socialMedia {
    width: 115px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 1600px) {
  .headingHelper {
    margin-top: 4em;
  }
}
