.headingHelper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-top: 2em;
  height: 50px;
  width: 250px;
}

.headingHelper .splitLine {
  background-color: var(--mainRed);
  width: 1.3px;
}

.headingHelper .socialMedia {
  width: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1600px) {
  .headingHelper {
    margin-top: 4em;
  }
}
/*# sourceMappingURL=HeaderActions.module.css.map */