.container {
  display: none;
}

@media screen and (min-width: 1280px) {
  .container {
    display: block;
    position: relative;
    padding: 0 3rem;
    max-width: var(--maxWidth);
    margin: 8rem auto 0 auto;

    .dotsAction {
      margin-top: -6rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .dots {
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          content: "";
          opacity: unset;
          background-color: rgba(255, 255, 255, 0.75);
          transition: var(--defaultTrans);
          border-radius: 50%;
          height: 8px;
          width: 8px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .active {
        &::before {
          opacity: unset;
          border: 4px solid var(--mainRed);
          content: "";
          border-radius: 50%;
          transition: var(--defaultTrans);
        }
      }
    }

    .redBack {
      position: absolute;
      top: 150px;
      left: -50%;
      width: 200%;
      height: 580px;
      background-color: var(--mainRed);
    }

    .news {
      display: block;
      position: relative;
      height: 425px;
      cursor: pointer;
      margin: 1em auto;
      overflow: hidden;
      border-radius: 1rem;

      .text {
        top: 50%;
        left: 23%;
        display: flex;
        flex-direction: column;
        place-items: center;
        position: absolute;
        background-color: rgba(136, 132, 127, 0.6);
        transform: translate(-50%, -50%);
        width: 350px;
        padding: 0.5em 0.2em;

        h1 {
          color: white;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.04em;
          font-size: 2.5rem;
          margin: 0;
        }

        h2 {
          color: #bea181;
          font-weight: 600;
          font-size: 1.6rem;
          margin: 0;
          text-align: center;
        }
      }
    }
  }
}
