.container {
  display: none;
}

@media screen and (min-width: 1280px) {
  .container {
    display: block;
    position: relative;
    padding: 0 3rem;
    max-width: var(--maxWidth);
    margin: 8rem auto 0 auto;
  }
  .container .dotsAction {
    margin-top: -6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .dotsAction .dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .dotsAction .dots::before {
    content: "";
    opacity: unset;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-transition: var(--defaultTrans);
    transition: var(--defaultTrans);
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .container .dotsAction .active::before {
    opacity: unset;
    border: 4px solid var(--mainRed);
    content: "";
    border-radius: 50%;
    -webkit-transition: var(--defaultTrans);
    transition: var(--defaultTrans);
  }
  .container .redBack {
    position: absolute;
    top: 150px;
    left: -50%;
    width: 200%;
    height: 580px;
    background-color: var(--mainRed);
  }
  .container .news {
    display: block;
    position: relative;
    height: 425px;
    cursor: pointer;
    margin: 1em auto;
    overflow: hidden;
    border-radius: 1rem;
  }
  .container .news .text {
    top: 50%;
    left: 23%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    place-items: center;
    position: absolute;
    background-color: rgba(136, 132, 127, 0.6);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 350px;
    padding: 0.5em 0.2em;
  }
  .container .news .text h1 {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-size: 2.5rem;
    margin: 0;
  }
  .container .news .text h2 {
    color: #bea181;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0;
    text-align: center;
  }
}
/*# sourceMappingURL=headline.module.css.map */