.line {
  position: absolute;
  background: rgb(68, 68, 68);
  background: -moz-linear-gradient(
    90deg,
    rgba(68, 68, 68, 1) 2%,
    rgba(193, 31, 39, 1) 43%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(68, 68, 68, 1) 2%,
    rgba(193, 31, 39, 1) 43%
  );
  background: linear-gradient(
    90deg,
    rgba(68, 68, 68, 1) 2%,
    rgba(193, 31, 39, 1) 43%
  );
}
