.line {
  position: absolute;
  background: #444444;
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #444444), color-stop(43%, #c11f27));
  background: linear-gradient(90deg, #444444 2%, #c11f27 43%);
}
/*# sourceMappingURL=TitleLine.module.css.map */