.active {
  background-color: #444444;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
}

.navbar {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  height: 55px;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
}

.navbar .container {
  height: 100%;
}

.navbar .container .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  height: 100%;
  padding: 0 1em;
}

.navbar .container .inner .icons {
  display: none;
}

@media screen and (min-width: 1280px) {
  .navbar {
    background-color: inherit;
    height: 100px;
  }
  .navbar .container {
    display: block;
    margin: 0 auto;
    max-width: var(--maxWidth);
  }
  .navbar .container .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5rem;
  }
  .navbar .container .inner .icons {
    display: block;
    float: right;
  }
  .navbar .container .inner .icons button {
    background-color: unset;
    border: none;
    margin: 0 0.8em 0 0.8em;
  }
  .active {
    background-color: #444444;
    -webkit-transition: var(--defaultTrans);
    transition: var(--defaultTrans);
  }
}
/*# sourceMappingURL=navbar.module.css.map */