.active {
  background-color: #444444;
  transition: var(--defaultTrans);
}

.navbar {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  height: 55px;
  transition: var(--defaultTrans);
  .container {
    height: 100%;
    .inner {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      z-index: 0;
      height: 100%;
      padding: 0 1em;

      .icons {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .navbar {
    background-color: inherit;
    height: 100px;
    .container {
      display: block;
      margin: 0 auto;
      max-width: var(--maxWidth);
      .inner {
        display: flex;
        justify-content: space-between;
        padding: 0 5rem;
        .icons {
          display: block;
          float: right;
          button {
            background-color: unset;
            border: none;
            margin: 0 0.8em 0 0.8em;
          }
        }
      }
    }
  }
  .active {
    background-color: #444444;
    transition: var(--defaultTrans);
  }
}
