.icons {
  display: none;
}

@media screen and (min-width: 1280px) {
  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .icons button {
    background-color: unset;
    border: none;
    margin: 0 0 0 0.8em;
  }
  .icons button .image {
    color: var(--mainRed);
    cursor: pointer;
  }
}
/*# sourceMappingURL=navigationIcons.module.css.map */