.icons {
  display: none;
}

@media screen and (min-width: 1280px) {
  .icons {
    display: flex;
    float: right;
    justify-content: flex-end;
    button {
      background-color: unset;
      border: none;
      margin: 0 0 0 0.8em;

      .image {
        color: var(--mainRed);
        cursor: pointer;
      }
    }
  }
}
