.logo {
  width: 150px;
  height: 100%;
  padding-top: 1em;
}

@media screen and (min-width: 1280px) {
  .logo {
    float: left;
    padding-top: 40px;
  }
}
/*# sourceMappingURL=navlogo.module.css.map */