.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  color: #c11f27;
}

@media screen and (min-width: 1280px) {
  .menu {
    display: none;
  }
}
/*# sourceMappingURL=navmobilemenu.module.css.map */