.container {
  height: 100vh;
  min-height: -webkit-fill-available;
  position: relative;
  height: calc(var(--vh, 1vh) * 100);

  .image {
    height: 100%;
    object-fit: contain;
  }

  .cover {
    position: absolute;
    background: rgba(79, 79, 79, 0.15);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 1em;

    .heading {
      position: absolute;
      top: 33%;
      width: 90%;

      h1,
      h2 {
        text-transform: uppercase;
      }

      h1 {
        width: 100%;
        font-size: 6.7vw;
        color: white;
        text-shadow: white 1px 0 2px;
        font-weight: 600;
      }

      h2 {
        font-size: 1.3em;
        color: rgba(255, 255, 255, 0.95);
      }
    }

    h2:last-child {
      display: flex;
      justify-content: flex-end;
    }

    .button {
      position: absolute;
      top: 58%;
      left: 50%;
      font: unset;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      color: white;
      background-color: unset;
      border: var(--mainRed) solid 2px;
      padding: 0.5em;
      text-transform: uppercase;
      font-size: 0.95em;
      font-weight: bolder;
      letter-spacing: 0.05em;
      border-radius: 2em;
      cursor: pointer;
      white-space: nowrap;
    }

    .arrowDown {
      position: absolute;
      top: 91%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      background: unset;
      border: unset;
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }

    .arrow:first-child {
      color: var(--mainRed);
    }

    .arrow:last-child {
      position: absolute;
      top: -20px;
      color: rgba($color: #c11f27, $alpha: 0.6);
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    display: none;
  }
}
