.container {
  height: 100vh;
  min-height: -webkit-fill-available;
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
}

.container .image {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.container .cover {
  position: absolute;
  background: rgba(79, 79, 79, 0.15);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 1em;
}

.container .cover .heading {
  position: absolute;
  top: 33%;
  width: 90%;
}

.container .cover .heading h1,
.container .cover .heading h2 {
  text-transform: uppercase;
}

.container .cover .heading h1 {
  width: 100%;
  font-size: 6.7vw;
  color: white;
  text-shadow: white 1px 0 2px;
  font-weight: 600;
}

.container .cover .heading h2 {
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.95);
}

.container .cover h2:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .cover .button {
  position: absolute;
  top: 58%;
  left: 50%;
  font: unset;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: white;
  background-color: unset;
  border: var(--mainRed) solid 2px;
  padding: 0.5em;
  text-transform: uppercase;
  font-size: 0.95em;
  font-weight: bolder;
  letter-spacing: 0.05em;
  border-radius: 2em;
  cursor: pointer;
  white-space: nowrap;
}

.container .cover .arrowDown {
  position: absolute;
  top: 91%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: unset;
  border: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.container .cover .arrow:first-child {
  color: var(--mainRed);
}

.container .cover .arrow:last-child {
  position: absolute;
  top: -20px;
  color: rgba(193, 31, 39, 0.6);
}

@media screen and (min-width: 1280px) {
  .container {
    display: none;
  }
}
/*# sourceMappingURL=mobileLanding.module.css.map */