.leftColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vh;
  max-width: 510px;
  z-index: 6;
}

.leftColumn h1 {
  position: relative;
  z-index: 1;
  color: white;
  font-size: Min(4.8vw, 4rem);
  font-weight: 400;
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
  text-align: left;
  float: left;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 515px;
  white-space: nowrap;
}

.leftColumn .titleLine {
  height: 50px;
  z-index: 0;
  width: 338px;
  top: 9%;
  left: -8rem;
}

.leftColumn h2 {
  color: rgba(255, 255, 255, 0.87);
  font-size: Min(1.2vw, 1rem);
  line-height: 35px;
  font-weight: lighter;
  margin: 0.8rem 0;
  letter-spacing: 0.03rem;
  text-align: left;
}

.leftColumn .shopButton {
  display: block;
  margin-top: 2rem;
  padding: 0.7rem 4rem;
  font-size: 1rem;
  color: white;
  background-color: var(--mainRed);
  border: solid 2px var(--mainRed);
  border-radius: 0.5rem;
  cursor: pointer;
  font: inherit;
  font-weight: 600;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
  letter-spacing: 0.08rem;
}

.leftColumn .shopButton:hover {
  background-color: white;
  -webkit-transition: var(--defaultTrans);
  transition: var(--defaultTrans);
  color: var(--mainRed);
}

@media screen and (min-width: 1600px) {
  .leftColumn {
    margin-top: 12vh;
  }
  .leftColumn .shopButton {
    margin-top: 4rem;
  }
  .leftColumn .titleLine {
    top: 18%;
  }
}
/*# sourceMappingURL=DesktopHeader.module.css.map */